*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

header
{
    width: 80%;
    height: 20vh;
    margin: 100px auto 20px;
    background-color: lavender;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    color: rgb(128, 202, 226);
    
}


.contenido{
    width: 80%;
    padding: 20px;
    margin: 0 auto; 
    border: 1px solid lightslategray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows:100px;
    place-content: center;
    place-items: center;
    gap: 20px;
    background-color: rgb(22, 82, 22);
}
.item
{
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: rgba(94, 255, 0, 0.342);
    color: rgb(167, 167, 167);
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}