*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body



header
{
    width: 80%;
    height: 20vh;
    margin: 100px auto 20px;
    background-color: lavender;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    color: rgb(128, 202, 226);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}